In [1]:
# Numeric data
num1 = 12
num2 = 2.33
complexNum = 2 + 3j
print(type(complexNum))
print(type(num1))
print(type(num2))

# Text data
st1 = "Hello there"

# Boolean
isTrue = True
isHealthy = False

# Sequenced data
# 1. List
mixList = [1,2,True,[1,2,3],"hat"]
print(mixList)

# 2. Tuple
tuple1 = (1,2,3)
print(tuple1)
tuple2  = (("ping","100"),("org","ff"))

# 3. Range
r1 = range(1,10,2)
print(list(r1))
for i in r1:
    i

# 4. Dictionary
dict1 = {"name":"ted","last":"talks"}
print(dict1)

# 5. Converting string to bytes
str1 = "This is a string"
arr1 = bytes(str1, 'utf-8')
print(arr1)
arr2 = bytes(str1, 'utf-16')
#print(arr2)

#Creating bytes of given size
#bytestr = bytes(4)
#print(bytestr)

# 6. Set
numSet = {1,2,33,4,1,1}
print(numSet)

<class 'complex'>
<class 'int'>
<class 'float'>
[1, 2, True, [1, 2, 3], 'hat']
(1, 2, 3)
[1, 3, 5, 7, 9]
{'name': 'ted', 'last': 'talks'}
b'This is a string'
{1, 2, 4, 33}

### 1. What are the different data types in Python? Give examples of each.

In [2]:
#Example 1
a1 = "this is string" # string
a2 = 12 # number
a3 = None # use as a placeholder 
a4 = [1,2,3,4] # list
a5 = {"name":"vishal","partner":"unknown"} # dictionary
a6 = range(1,5,1) # range
a7 = {1,2,3,5,2,2,3} # set
a8 = True # boolean
a9 = ("stuff","needs","to","get","done") # tuple

#Example 2
#Primitive Datatypes
a1 = 12 #integer
a2 = 1.2 #float
a3 = "jake" #string
a4 = True #Boolean
a5 = 1+2j  #complex
a6 = {1,2,3,4} #set
a7 = ["reddy", True, 12] #list
a8 = {"name":"virat","sport":"cricket"} #dictionary
a9 = None
a10 = (1, 2,3)#tuple

### 2. Identify the data type of the following:

In [3]:
print(type(42))  # int
print(type(3.14))  # float
print(type('Hello, world!'))  # str
print(type(True))  # bool
print(type([1, 2, 3]))  # list
print(type({ "name": "Alice", "age": 25 }))  # dict

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>

### 3. How do you convert a string '123' into an integer?

In [4]:
str1 = "123"
num1 = int(str1)
print(num1)
num2 = int(input("Enter the number"))

123

Enter the number 54

In [5]:
a = "123"
b = int(a)
print(type(b))

<class 'int'>

### 4. Write a Python program to check if a given variable is of type float.

In [6]:
def checkTypeIsFloat(input):
    return type(input) == float

result = checkTypeIsFloat(3.4)
print(result)

True

In [7]:
def isFloat(input):
    return type(input) == float
isFloat(1.2)

True

### 5. Convert the list [1, 2, 3, 4] into a tuple and a set.

In [8]:
l1 = [1, 2, 3, 4]
liTup = tuple(l1)
liSet = set(l1)

print(liTup)
print(liSet)

(1, 2, 3, 4)
{1, 2, 3, 4}

In [9]:
list1 = [1,2,3,4]
tuple1 = tuple(list1)
print(type(tuple1))
set1 = set(list1)
print(type(set1))

<class 'tuple'>
<class 'set'>

### 6. Write a Python script to calculate the length of a string provided by the user.

In [10]:
def cal_length_of_str(input):
    return len(input)

print(cal_length_of_str("here we go"))

10

In [11]:
def calculateLen(input):
    return len(input)
print(calculateLen("123"))

3

### 7. Create a dictionary to store details of a student (name, age, grade). Retrieve the age from the dictionary.

In [12]:
stud1 = {
    "name": "lexy",
    "age": 12,
    "grade": "A"
}

print(stud1["age"])

12

In [13]:
stud1 = {
    "name":"Redd",
    "age":12,
    "grade":"A"
}
print(stud1["name"])

Redd

### 8. Write a program to check if a variable is mutable or immutable.

In [14]:
def checkMutability(input):
    return type(input) == tuple or type(input) == str

print(checkMutability(("hey", "there")))

True

In [15]:
def isImmutable(input):
    return type(input)==tuple or type(input)==str

isImmutable((1,2,3))

True

### 9. Convert the integer 10 to binary, octal, and hexadecimal formats.

In [16]:
num = 10

binary = bin(num)
print(f"Binary format of {num} is {binary}")

octal = oct(num)
print(f"Octal format of {num} is {octal}")

hexadecimal = hex(num)
print(f"Hexadecimal format of {num} is {hexadecimal}")

Binary format of 10 is 0b1010
Octal format of 10 is 0o12
Hexadecimal format of 10 is 0xa

In [17]:
test1 = 10
print(bin(10))
print(oct(10))
print(hex(10))

0b1010
0o12
0xa

### 10. Write a Python program to swap two numbers using tuple unpacking.

In [18]:
a = 10
b = 12
a, b = b, a
print(a, b)

12 10