### Arithmetic Operators

In [1]:
print(12 + 10)
print(12 - 10)
print(12 / 10)
print(12 * 10)
print(2 ** 2)
print(11 % 2) 
print(12 // 10) # Divide the number and return floor value

22
2
1.2
120
4
1
1

### Assignment Operators

In [2]:
a = 10
a += 10
a *= 10
a /= 10
a -= 10
a //= 10
a **= 10
a %= 10
print(a)

1.0

In [3]:
a += 10
print(a)

11.0

### Bitwise Operators

In [4]:
# print(a)

b = 10
c = 12
# print(c & b)
# print(True & False)
# print(True | False)
# print(~True)
# print(True ^ False)

print(a)
b = 10
c = 12
print(True ^ False)

11.0
True

### Comparison Operators

In [5]:
# print(b < c)
# print(b > c)
# print(b != c)
# print("1" == 1)

d = 10
e = d
team1 = {"one": "faiz", "two": "messi"}
team2 = team1
team3 = {"one": "faiz", "two": "messi"}

print(team2 is team1)
print(team3 is team1)
print(d is e)

True
False
True

### Logical Operators

In [6]:
#Example 1
age = input("Enter your age:")
age = 20

if age >= 18 and age < 55:
    print("You are eligible to drive")
elif age < 18 or age > 55:
    print("You are not eligible to drive")
else:
    print("The input you have typed is not compatible")

#Example 2
number = int(input("Enter a Number"))

if number%2 == 0:
    print("This is a even number")
elif number%2 != 0:
    print ("This is a odd Number")
if 10 < number < 50:
    print("Number is between the privide range")

Enter your age: 20

You are eligible to drive

Enter a Number 30

This is a even number
Number is between the privide range

### Membership Operators

In [7]:
print("one" in team2)
print("two" not in team2)

True
False